$gridGutter: 20px;

$space: 15px;
$space-2x: 30px;
$space-3x: 45px;
$space-4x: 60px;
$space-5x: 75px;
$space-6x: 90px;
$space-7x: 105px;
$space-8x: 120px;
$space-9x: 135px;
$space-10x: 150px;

$pad: 20px;

$section-pad: 5rem;
$section-pad-3qtr: 7.5rem;
$section-pad-dbl: 10rem;

$pad-input: 1rem;

$p-space: 1em;
$heading-space: 1em;
