button,
.btn {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border: 1px solid $black;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  font-size: 14PX;
  height: 42px;
  outline: none;
  overflow: hidden;
  margin: .5rem .5rem .5rem 0;
  padding: 10px $space-2x;
  position: relative;
  text-decoration: none;
  letter-spacing: 1PX;
  user-select: none;
  white-space: nowrap;
  transition: all $speed $easing;

  @include media("<med") {
    font-size: 12px;
  }

  &--has-icon {
    position: relative;
    padding-right: $space-5x;

    .icon {
      position: absolute;
      right: 30px;
      top: 10px;
      transition: all $speed $easing;

      @include media("<med") {
        right: 10px;
      }
    }
  }

  &--square {

  }

  &--transparent {
    background: 0 0;
    border: 1px solid $white;
  }

  &--white {
    &:hover {
      background: $black!important;
      color: $white!important;

      svg {
        fill: $white!important;
      }
    }
  }


  svg {
    fill: $white;
    width: 20px;
    height: 20px;
  }


  &:hover {
    background: $white;
    color: $black;

    svg {
      fill: $black;
    }

    .icon {
      right: 20px;
    }
  }



}
