<section class="footer-image colour--white">
  <div class="container container--fullheight container--flex">
      <div class="footer-image__text">
        <p class="h1">Airport City Manchester</p>
        <div class="footer-image__text-btn">
        <p class="h4">{{options.footer_text}}</p>
        <a href="https://www.airportcity.co.uk/" target="_blank" class="btn btn--square btn--transparent btn--has-icon"> Visit Site {% include 'atoms/icon.twig' with { 'icon': 'arrow' } %}</a>
      </div>
      </div>
  </div>
</section>
