/* Grid system, using flexbox */

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 $gridGutter;
  position: relative;
  width: 100%;
  z-index: 2;

  &--fullwidth {
    max-width: none;
    padding: 0px;
  }
}

.row {
  padding: $gridGutter/2 0;
  width: 100%;
  @include media(">sm") {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: $gridGutter 0;
  }

  &--flex-always {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: $gridGutter 0;
  }

  &--reset-pad {
    padding: 0;
  }

  &--justify-center {
    justify-content: center;
  }

  &--align-center {
    align-items: center;
  }

  &--reverse-cols {
    flex-direction: row-reverse;
  }
}

.col {
  position: relative;
  padding: $gridGutter/2 0;
  width: 100%;
  flex: 0 0 100%;

  @include media(">sm") {
    flex: none;
    padding: $gridGutter 0;
  }

  @include media(">lrg") {
    padding: $gridGutter/2 0;
  }

  &--12 {
    @each $size, $breakpoint in $gridBreakpoints {
      &\@#{$size} {
        @include media(">#{$size}") {
          width: 100%;
        }
      }
    }
  }
  &--11 {
    @each $size, $breakpoint in $gridBreakpoints {
      &\@#{$size} {
        @include media(">#{$size}") {
          width: calc(99.99% * 11/12 - (#{$gridGutter*2} * 11/12));
        }
      }
    }
  }
  &--10 {
    @each $size, $breakpoint in $gridBreakpoints {
      &\@#{$size} {
        @include media(">#{$size}") {
          width: calc(99.99% * 10/12 - (#{$gridGutter*2} * 10/12));
        }
      }
    }
  }
  &--9 {
    @each $size, $breakpoint in $gridBreakpoints {
      &\@#{$size} {
        @include media(">#{$size}") {
          width: calc(99.99% * 9/12 - (#{$gridGutter*2} * 9/12));
        }
      }
    }
  }
  &--8 {
    @each $size, $breakpoint in $gridBreakpoints {
      &\@#{$size} {
        @include media(">#{$size}") {
          width: calc(99.99% * 8/12 - (#{$gridGutter*2} * 8/12));
        }
      }
    }
  }
  &--7 {
    @each $size, $breakpoint in $gridBreakpoints {
      &\@#{$size} {
        @include media(">#{$size}") {
          width: calc(99.99% * 7/12 - (#{$gridGutter*2} * 7/12));
        }
      }
    }
  }
  &--6 {
    @each $size, $breakpoint in $gridBreakpoints {
      &\@#{$size} {
        @include media(">#{$size}") {
          width: calc(99.99% * 6/12 - (#{$gridGutter*2} * 6/12));
        }
      }
    }
  }
  &--5 {
    @each $size, $breakpoint in $gridBreakpoints {
      &\@#{$size} {
        @include media(">#{$size}") {
          width: calc(99.99% * 5/12 - (#{$gridGutter*2} * 5/12));
        }
      }
    }
  }
  &--4 {
    @each $size, $breakpoint in $gridBreakpoints {
      &\@#{$size} {
        @include media(">#{$size}") {
          width: calc(99.99% * 4/12 - (#{$gridGutter*2} * 4/12));
        }
      }
    }
  }
  &--3 {
    @each $size, $breakpoint in $gridBreakpoints {
      &\@#{$size} {
        @include media(">#{$size}") {
          width: calc(99.99% * 3/12 - (#{$gridGutter*2} * 3/12));
        }
      }
    }
  }
  &--2 {
    @each $size, $breakpoint in $gridBreakpoints {
      &\@#{$size} {
        @include media(">#{$size}") {
          width: calc(99.99% * 2/12 - (#{$gridGutter*2} * 2/12));
        }
      }
    }
  }
  &--1 {
    @each $size, $breakpoint in $gridBreakpoints {
      &\@#{$size} {
        @include media(">#{$size}") {
          width: calc(99.99% * 1/12 - (#{$gridGutter*2} * 1/12));
        }
      }
    }
  }
}
