<section class="newsletter">
    <div class="container">
      <div class="row row--justify-center text--center">
        <div class="col col--12@lrg col--12@xl">

          <form id="newsletterfooter" action="https://manchestersfinest.us2.list-manage.com/subscribe/post?u=80f2869a6d1828e3a9de6548f&amp;id=b8eb6601f2&c=callback" method="post" target="_blank" novalidate>
              <p class="h2">Become a Platform member to receive exclusive discounts and offers.</p>
              <div class="newsletter__inputs" id="js-form-inputs">
                <input class="white full-width" type="email" name="EMAIL" id="mce-EMAIL" value="" placeholder="Enter your email address here">
                <button class="btn btn--square btn--transparent btn--has-icon" type="submit" name="subscribe" id="mc-embedded-subscribe">Subscribe {% include 'atoms/icon.twig' with { 'icon': 'arrow' } %}</button>
              </div>
          </form>

        </div>
      </div>

      <div class="row row--justify-center text--center">
        <div class="col col--6@lrg col--4@xl">

        </div>
      </div>

    </div>
</section>
