
<section>

  <div class="container">
    <div class="row">
      <p class="h3">Upcoming Events</p>
    </div>

    <div class="row">
      <div class="page-grid__flex-container page-grid--short-grid">
        {% for post_info in upcoming_events %}
              <div class="page-grid__item">
                {% include 'molecules/news-card.twig' with {
                  post_info: post_info,
                } %}
              </div>
          {% endfor %}
      </div>
    </div>


  </div>

</section>
