# Application
print(conf.get('webDir') + '/' + conf.get('contentDir') + '\n')/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Theme
.npmrc
.DS_Store
.sass-cache
.publish
public
Desktop.ini
node_modules
**/generated/_icons.sass
npm-debug.log
