
/* TEAM */
Design & Development: <%= conf.get('author') %>
Twitter: @<% print(conf.get('twitter').replace('@','')) %>
Site: <%= conf.get('humansurl') %>

/* SITE */
Standards: HTML5, CSS3
Components: WordPress
Software: Atom, NPM, Postcss
