{
  "src": "./src",
  "dest": ".<%= conf.get('themeDir') %>/assets",
  "dest": "./<%= conf.get('webDir') %>/<%= conf.get('contentDir') %>/themes/<%= conf.get('themeDir') %>/assets",

  "javascripts": {
    "src": "javascripts",
    "dest": "javascripts"
  },

  "stylesheets": {
    "src": "stylesheets",
    "dest": "stylesheets"
  },

  "images": {
    "src": "images",
    "dest": "images"
  },

  "fonts": {
    "src": "fonts",
    "dest": "fonts"
  },

  "icons": {
    "src": "icons",
    "dest": "images"
  }
}
